#!/bin/sh

sudo dpkg --add-architecture i386
sudo apt update

sudo apt install ia32-libs
sudo apt install libx11-6:i386 
sudo apt install libgl1-mesa-glx:i386 
sudo apt install libfontconfig1:i386 
sudo apt install libssl1.0.0:i386

sudo apt install ffmpeg imagemagick xbindkeys festvox-ru festvox-kallpc16k

