#!/bin/sh

AUDIO="-codec:a aac -strict -2 -b:a 384 -r:a 48000"
# no audio
AUDIO="-an"

# lossless
VIDEO="-vcodec libx264 -preset veryslow -qp 0 -crf 0 -bf 2 -flags +cgop -pix_fmt yuv420p "

CODEC="$AUDIO $VIDEO -movflags faststart"

FF="ffmpeg -pattern_type glob"
#-start_number 837 

$FF -r .5 -i "*.png" $CODEC -y 20180821.mp4 && mplayer 20180821.mp4

# Контейнер: MP4
# Помещайте элементы moov atom в начало файла. Это ускорит запуск видео.

# Аудиокодек: AAC-LC
# Каналы: стерео или 5.1 + стерео.
# Частота дискретизации: 96 или 48 кГц.

# Видеокодек: H.264
# Прогрессивная развертка (не чересстрочная).
# Высокий профиль.
# Два последовательных B-кадра.
# Закрытая группа изображений (GOP). GOP равняется половинной частоте кадров.
# CABAC (контекстно-адаптивное двоичное арифметическое кодирование).
# Переменный битрейт. Ограничений для битрейта не предусмотрено. Рекомендуемые битрейты приведены ниже.
# Цветовая субдискретизация: 4:2:0.

# Частота кадров
# Сохраняйте частоту кадров исходного видео. Она не должна отличаться после кодирования.
# Распространенные кадровые частоты – 24, 25, 30, 48, 50 и 60 кадров в секунду

