#!/bin/sh
AUDIO="-c:a aac -b:a 192k"
VIDEO="-vcodec libx264 -pix_fmt yuv420p "
CODEC="$AUDIO $VIDEO"

FF="ffmpeg"
#-start_number 837 

$FF -r 1 -pattern_type glob -i "*.png" $CODEC 20180821.mp4

# Контейнер: MP4
# Помещайте элементы moov atom в начало файла. Это ускорит запуск видео.

# Аудиокодек: AAC-LC
# Каналы: стерео или 5.1 + стерео.
# Частота дискретизации: 96 или 48 кГц.

# Видеокодек: H.264
# Прогрессивная развертка (не чересстрочная).
# Высокий профиль.
# Два последовательных B-кадра.
# Закрытая группа изображений (GOP). GOP равняется половинной частоте кадров.
# CABAC (контекстно-адаптивное двоичное арифметическое кодирование).
# Переменный битрейт. Ограничений для битрейта не предусмотрено. Рекомендуемые битрейты приведены ниже.
# Цветовая субдискретизация: 4:2:0.

# Частота кадров
# Сохраняйте частоту кадров исходного видео. Она не должна отличаться после кодирования.
# Распространенные кадровые частоты – 24, 25, 30, 48, 50 и 60 кадров в секунду

